@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Metropolis';
  src: url('/resources/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/resources/fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('resources/fonts/Metropolis-Italic.otf') format('truetype');
    font-style: italic;
}

body {
    font-family: 'Metropolis', sans-serif;
}
.swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: '';
        display: none;
    }